* {
    margin: 0%;
    padding: 0%;
}


#container{
    pointer-events: all;
}

#menuBar li {
    background-color: #111111;
    font-size: 18px;
    padding: 15px;
    margin-left: 10px;
    user-select: none;
}

#menuBar li:active {
    background-color: #D6CD00;
    color: black;
}

#tabsBar {
    width: 100%;
}


#tabsBar li {
    user-select: none;
    padding: 15px;
    font-size: 16px;
    /* min-width: 35px; */
    /* max-width: 35px; */
    /* overflow: hidden; */
    position: relative;
}


.crossIcon {
    background-color: #282828;
    position: absolute;
    top: 0.0rem;
    right: 0.0rem;
    width: 16px;
}


.crossIconOnHover {
    background-color: red;
    position: absolute;
    top: 0.0rem;
    right: 0.0rem;
    width: 16px;
}

.crossIconOnTouch {
    background-color: #D6CD00;
    position: absolute;
    top: 0.0rem;
    right: 0.0rem;
    width: 16px;
}

#Notes {
    width: 100vw;
    height: 100vh;
    background-color: #282828;
}


#nameAskingWindow {
    display: none;
    font-family: 'inter';
    background-color: #111111;
    width: 30vw;
    min-width: 300px;
    height: 200px;
    position: fixed;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}


.HG-label-box {
    color: #D6CD00;
    font-size: 30px;
    font-weight: 700;
}

.HG-input-box {
    text-align: center;
    background-color: transparent;
    border: 2px solid #D6CD00;
    color: white;
    font-size: 18px;
}

.HG-input-box:focus {
    -webkit-outline: 1px solid white;
    -moz-outline: 1px solid white;
    outline: 1px solid white;
}

.HG-button {
    font-family: 'inter';
    padding: 10px;
    font-size: 18px;
    background-color: #D6CD00;
    border: 2px solid #D6CD00;
    color: black;
}

.HG-button:active {
    background-color: transparent;
    border: 2px solid #D6CD00;
    color: #D6CD00;
}

#fileListWindow {
    display: none;
    font-family: 'inter';
    background-color: #111111;
    width: 30vw;
    min-width: 300px;
    height: 200px;
    position: fixed;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.textareaFull {
    width: calc(99% - 10px);
    height: calc(100% - 20px);
    border: none;
    background-color: #282828;
    color: #D6CD00;
    padding: 10px;
}

.textareaFull:focus {
    -webkit-outline: none;
    -moz-outline: none;
    outline: none;
}


#saveAsWindow {
    display: none;
    font-family: 'inter';
    background-color: #111111;
    width: 30vw;
    min-width: 300px;
    height: 200px;
    position: fixed;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}


.activeNote {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    color: #D6CD00;
}

.unActiveNote {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    color: #D6CD00;
}


@media only screen and (max-width:323px) {
    header h2 {
        font-size: 30px;
    }
}